# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environment
# ===============================
venv/
.venv/
env/

# ===============================
# Environment Variables
# ===============================
.env
*.env

# ===============================
# Django
# ===============================
*.log

db.sqlite3-journal
staticfiles/
media/

# ===============================
# IDE / Editors
# ===============================
.vscode/
.idea/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Node / Tailwind
# ===============================
node_modules/

# ===============================
# Testing / Coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# Type checking
# ===============================
.mypy_cache/