{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="bread">
                    <span><a href="{% url 'home' %}">Home</a></span>
                    <span>Products</span>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumbs-two">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs-img" style="background-image: url('{% static "images/cover-img-1.jpg" %}');">
                    <h2>Products</h2>
                </div>
                <div class="menu text-center">
                    <p>
                        <a href="#">New Arrivals</a>
                        <a href="#">Best Sellers</a>
                        <a href="#">Extended Widths</a>
                        <a href="#">Sale</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-featured">
    <div class="container">
        <div class="row">
            {% comment %} Featured categories (static for now) {% endcomment %}
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url('{% static "images/img_bg_2.jpg" %}');">
                        <h2>Casuals</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">Shop now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url('{% static "images/women.jpg" %}');">
                        <h2>Dress</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">Shop now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url('{% static "images/item-11.jpg" %}');">
                        <h2>Sports</h2>
                        <p><a href="#" class="btn btn-primary btn-lg">Shop now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <!-- Sidebar Filters -->
            <div class="col-lg-3 col-xl-3">
                <form method="get">
                    <!-- Brands -->
                    <div class="side border mb-1">
                        <h3>Brand</h3>
                        <ul>
                            {% for brand in brands %}
                                <li>
                                    <input type="radio" name="brand" value="{{ brand.slug }}" id="brand-{{ brand.id }}"
                                    {% if selected_filters.brand == brand.slug %} checked {% endif %}>
                                    <label for="brand-{{ brand.id }}">{{ brand.name }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Sizes -->
                    <div class="side border mb-1">
                        <h3>Size/Width</h3>
                        <div class="block-26 mb-2">
                            <h4>Size</h4>
                            <ul>
                                {% for size in sizes %}
                                    <li>
                                        <input type="radio" name="size" value="{{ size.id }}" id="size-{{ size.id }}"
                                        {% if selected_filters.size == size.id|stringformat:"s" %} checked {% endif %}>
                                        <label for="size-{{ size.id }}">{{ size.value }}</label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="block-26">
                            <h4>Gender</h4>
                            <ul>
                                {% for gender in sizes|dictsort:"gender"|dictsort:"0" %}
                                    <li>{{ gender.gender }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- Styles -->
                    <div class="side border mb-1">
                        <h3>Style</h3>
                        <ul>
                            {% for style in styles %}
                                <li>
                                    <input type="radio" name="style" value="{{ style.slug }}" id="style-{{ style.id }}"
                                    {% if selected_filters.style == style.slug %} checked {% endif %}>
                                    <label for="style-{{ style.id }}">{{ style.name }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Colors -->
                    <div class="side border mb-1">
                        <h3>Colors</h3>
                        <ul>
                            {% for color in colors %}
                                <li>
                                    <input type="radio" name="color" value="{{ color.id }}" id="color-{{ color.id }}"
                                    {% if selected_filters.color == color.id|stringformat:"s" %} checked {% endif %}>
                                    <label for="color-{{ color.id }}">{{ color.name }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Materials -->
                    <div class="side border mb-1">
                        <h3>Material</h3>
                        <ul>
                            {% for material in materials %}
                                <li>
                                    <input type="radio" name="material" value="{{ material.id }}" id="material-{{ material.id }}"
                                    {% if selected_filters.material == material.id|stringformat:"s" %} checked {% endif %}>
                                    <label for="material-{{ material.id }}">{{ material.name }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Technologies -->
                    <div class="side border mb-1">
                        <h3>Technologies</h3>
                        <ul>
                            {% for tech in technologies %}
                                <li>
                                    <input type="radio" name="technology" value="{{ tech.id }}" id="tech-{{ tech.id }}"
                                    {% if selected_filters.technology == tech.id|stringformat:"s" %} checked {% endif %}>
                                    <label for="tech-{{ tech.id }}">{{ tech.name }}</label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mb-4">Apply Filters</button>
                </form>
            </div>

            <!-- Products Grid -->
            <div class="col-lg-9 col-xl-9">
                <div class="row row-pb-md">
                    {% for product in products %}
                        <div class="col-lg-4 mb-4 text-center">
                            <div class="product-entry border">
                                <a href="{{ product.get_absolute_url }}" class="prod-img">
                                    {% if product.images.first %}
                                        <img src="{{ product.images.first.image.url }}" class="img-fluid" alt="{{ product.title }}">
                                    {% else %}
                                        <img src="{% static 'images/default-product.jpg' %}" class="img-fluid" alt="{{ product.title }}">
                                    {% endif %}
                                </a>
                                <div class="desc">
                                    <h2><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
                                    <span class="price">${{ product.get_price }}</span>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p class="text-center">No products found.</p>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="block-27">
                            <ul>
                                {% if products.has_previous %}
                                    <li><a href="?{% for key,value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ products.previous_page_number }}"><i class="ion-ios-arrow-back"></i></a></li>
                                {% endif %}

                                {% for num in products.paginator.page_range %}
                                    {% if products.number == num %}
                                        <li class="active"><span>{{ num }}</span></li>
                                    {% else %}
                                        <li><a href="?{% for key,value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if products.has_next %}
                                    <li><a href="?{% for key,value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ products.next_page_number }}"><i class="ion-ios-arrow-forward"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Trusted Partners Section -->
<div class="colorlib-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Trusted Partners</h2>
            </div>
        </div>
        <div class="row">
            {% comment %} Partners static for now {% endcomment %}
            <div class="col partner-col text-center">
                <img src="{% static 'images/brand-1.jpg'%}" class="img-fluid">
            </div>
            <div class="col partner-col text-center">
                <img src="{% static 'images/brand-2.jpg'%}" class="img-fluid">
            </div>
            <div class="col partner-col text-center">
                <img src="{% static 'images/brand-3.jpg'%}" class="img-fluid">
            </div>
            <div class="col partner-col text-center">
                <img src="{% static 'images/brand-4.jpg'%}" class="img-fluid">
            </div>
            <div class="col partner-col text-center">
                <img src="{% static 'images/brand-5.jpg'%}" class="img-fluid">
            </div>
        </div>
    </div>
</div>

{% endblock %}
